* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir.eot");
  /** IE9 compat Moded */
  src: url("../assets/fonts/Vazir.eot?#iefix") format("embedded-opentype");
  src: url("../assets/fonts/Vazir.woff2") format("woff2");
  src: url("../assets/fonts/Vazir.woff") format("woff");
  src: url("../assets/fonts/Vazir.ttf") format("truetype");

  /* safari, Android, ios */
}

/* Difination of color */
:root {
  --primary-color: #4e9dc5;
  --light-color: #fff;
  --secondary-color: #f99a00;
  --dark-color: #585858;
}

body {
  font-family: "Vazir" !important;
  
}

.header-scrolled {
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 20px rgb(141, 122 /10%);
}

.header {
  transition: all 0.5s;
}

#toggleDark {
  cursor: pointer;
  font-size: 50px;
  transform: translate(-50%, -50%);
}

.navbar-toggler {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

/* Style for the image of slider */

.hero .carousel-item img-slide {
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  /* مقدار شفافیت (0.0 تا 1.0) */
  transition: opacity 0.3s;
  /* انیمیشن تغییر شفافیت */
}

/* .hero .carousel-item::before{
    content: "";
    background-color: #697bcd;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: -7;
} */

/* style for logo that is on image slide */
.custom-img {
  width: 300px;
  /* اندازه تصویر برای سایز بزرگ */
  height: 300px;
  /* اندازه تصویر برای سایز بزرگ */
}

@media (max-width: 576px) {
  /* برای صفحه‌های کوچک (موبایل) */
  .custom-img {
    width: 100px;
    /* اندازه تصویر برای سایز کوچک */
    height: 100px;
    /* اندازه تصویر برای سایز کوچک */
  }

  .h5-responsive {
    font-size: 1rem;
    margin: 0%;
  }

  .p-responsive {
    font-size: 0.8rem;
    margin: 0%;
  }
}

.link1{
  text-decoration: none;

}

.purecolor{
  color: #4e9dc5;
}

