<<<<<<< HEAD
body{
    font-family: "Vazir" !important;
    background-color: #b0a7a7;
=======
body {
    font-family: "Vazir" !important;
    background-color: #f7f7f7;
>>>>>>> 7331c1a59faf712d20383e706f2c77000f251e02
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 1.5rem;
<<<<<<< HEAD
    color: #d31f1f;
=======
    color: #333333;
>>>>>>> 7331c1a59faf712d20383e706f2c77000f251e02
}
.input-group {
    margin-bottom: 1rem;
}
.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555555;
}
.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
.input-group input:focus {
    border-color: #007bff;
    outline: none;
}
.input-error {
    border-color: red; /* تغییر رنگ مرز به قرمز */
    background-color: #ffe6e6; /* تغییر رنگ پس‌زمینه به قرمز کمرنگ */
}
.error-message {
    color: red;
    font-size: 0.9rem;
    display: none; /* مخفی کردن پیام خطا به طور پیش‌فرض */
}
.btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3; /* رنگ دکمه در حالت hover */
}

.login-container a{
    text-decoration: none;
}